{%extends "base.html"%}
{%block content%}
<h1>Pumwani Estate Payment System - Admin Dashboard</h1>

<div class="paid-users">
  <h2>Paid Users</h2>
  <div>
    <table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Total amount</th>
            <th scope="col">Amount paid</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments%}
          <tr>
            <th scope="row">{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{total_amount}}</td>
            <td>{{row[3]}}</td>
            <td>{{balance}}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </table>
  </div>
</div>

<hr>

<div>
  <h3>People with cars</h3>
  <table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Car type</th>
          <th scope="col">Car model</th>
          <th scope="col">Car plate</th>
        </tr>
      </thead>
      <tbody>
        {% for property in properties%}
          <tr>
            <th scope="row">{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
  </table>
</div>


{%endblock%}