{%extends "base.html"%}
{%block content%}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card-counter danger">
          <i class="fa fa-users"></i>
          <span class="count-numbers">{{ tenant }}</span>
          <span class="count-name">Tenants</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fa fa-users"></i>
          <span class="count-numbers">{{ property_count}}</span>
          <span class="count-name">Property</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fa fa-users"></i>
          <span class="count-numbers">{{ transactions }}</span>
          <span class="count-name">Transactions</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fa fa-users"></i>
          <span class="count-numbers">{{ staff_count }}</span>
          <span class="count-name">Staff</span>
        </div>
      </div>
    </div>
  </div>

{%endblock%}