{%extends "base.html"%}
{% block content %}
  <form action={{url for('property')}} methods=["POST","GET"]>
    <div>
      <h1>Pumwani Estates tenant Property Management Page</h1>
      <strong>Hint:</strong>
      <p>This page basically deals with automotives.</p>
    </div>
    <div>
      <button class="btn btn-primary" type="submit" data-toggle="modal"
      data-target="#myModal">Add new property</button>
    </div>
    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>House Number</td>
          <td>Car Plate</td>
          <td>Model</td>
          <td>Car type</td>
        </tr>
        <tr>
          <td>{{username}}</td>
          <td>{{House Number}}</td>
          <td>{{Car Plate}}</td>
          <td>{{Model}}</td>
          <td>{{Car type}}</td>
        </tr>
      </table>
    </div>
</form>
{%endblock%}