{%extends "base.html"%}
{% block content %}
<h1>These are the recent transactions made.</h1>
<!-- On tables -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Amount Paid</th>
      <th scope="col">Transaction Id</th>
      <th scope="col">Date of payment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{firstname}}</td>
      <td>{{lastname}}</td>
      <td>{{amount}}</td>
      <td>{{transaction_id}}</td>
      <td>{{date}}</td>
    </tr>
  </tbody>
{%endblock%}